<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>MusicDex</title>
  </head>
  <body>
    <ng-container *ngIf="onFrontPage; then frontPage; else searchResult">
    </ng-container>

    <!-- HTML BEGINS HERE -->
    <ng-template #frontPage>
      <h1 class="dex-title">MusicDex</h1>
      <img
        class="sidebar-image"
        src="../assets/sidebar-logo.svg"
        alt="Illustration of Person Listening to Music"
      />
      <div class="searchbar">
        <input
          [(ngModel)]="searchterm"
          class="form-control"
          type="text"
          placeholder="Search for an artist"
          aria-label="Search"
        />
        <button (click)="buttonclick()">Search</button>
      </div>
      <br />
      <div>
        <!-- Text for the front page -->
        <p class="frontPageText">
          Please enter the name of the artist you wish to search.
        </p>
      </div>
    </ng-template>
    <ng-template #searchResult>
      <div>
        <!-- SEARCH RESULT HTML -->
        <div class="backPage">
          <div class="sidebar">
            <img
              class="backSidebarImage"
              src="../assets/sidebar-logo.svg"
              alt="Illustration of Person Listening to Music"
            />
            <h1 class="backDexTitle">MusicDex</h1>
            <div class="backSearchbar">
              <input
                [(ngModel)]="searchterm"
                class="form-control"
                type="text"
                placeholder="Search for an artist"
                aria-label="Search"
              />
              <button (click)="buttonclick()">Search</button>
            </div>
          </div>
          <div class="main-content">
            <h1 class="backMainTitle">
              {{ artistName }}
            </h1>
            <div class="artistInfo">
              <p>
                {{ artistBio }}
              </p>
            </div>
            <div class="albumRow">
              <button class="hideAlbumButton" (click)="hideAlbums()">
                Hide
              </button>
              <h2 class="albumHeading">
                Albums
              </h2>
            </div>
            <div *ngIf="showAlbums">
              <!-- loop through each album in the list and display them -->
              <ng-container *ngFor="let album of albumList">
                <div class="jumbotron">
                  <img
                    class="albumCoverArt"
                    src="{{ album.image[2]['#text'] }}"
                    alt="Album Cover"
                  />
                  <!-- right side of the artist panel (excluding image & button) -->
                  <div class="jumboSubDiv">
                    <h2 class="albumTitle">{{ album.name }}</h2>
                    <p class="albumBio">
                      test.
                    </p>
                    <p>
                      Blah blah.
                    </p>
                    <a class="seeSongs" href="#" role="button">View Tracks</a>
                  </div>
                  <!-- end of subdivision -->
                </div>
                <!-- end of the jumbotron -->
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="index.js"></script>
  </body>
</html>
