body {
  background-color: wheat;
  height: 100vh;
}

/* searchbar on the frontpage */
.searchbar {
  display: flex;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
}
/* searchbar colour upon clicking */
.searchbar input[type="text"]:focus:not([readonly]) {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
}

.frontPageText {
  text-align: center;
}

.sidebar-image {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.dex-title {
  text-align: center;
  font-family: Impact, Navy, sans-serif;
}

.btn {
  background-color: silver;
}
